.header {
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.avatarWrapper {
  display: flex;
  align-items: center;

  .nickname {
    margin-left: 10px;
    font-size: var(--font-m);
    font-weight: bolder;
    color: var(--color-black);
  }
}

.dots {
  display: flex;
  gap: 2px;
  flex-direction: column;
  width: fit-content;
  padding: 10px;

  div.dot {
    border-radius: 50%;
    width: 3px;
    height: 3px;
    background: var(--color-black);
  }
}
