.wrapper{
  width: 100%;
  margin-bottom: 12px;
}

label {
  font-size: var(--font-s);
  margin-bottom: 8px;
  color: var(--color-gray)
}

.error {
  font-size: var(--font-s);
  margin-top: 8px;
  color: var(--color-red);
}



