* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

input:-webkit-autofill {
  background-clip: text;
}
