:root {
  // colors
  --color-gray: #999999;
  --color-light-gray: #FBFBFB;
  --color-avatar: #EFEFEF;
  --color-border: #EAEAEA;
  --color-blue: #3369F3;
  --color-red: #FF0000;
  --color-black: #1E1E1E;
  --color-white: #FFFFFF;
  --color-transparent: transparent;

  //font
  --font-xs: 8px;
  --font-s: 10px;
  --font-m: 12px;
  --font-l: 16px;
  --font-xl: 20px;
  --font-xxl: 30px;
  --font-xxxl: 40px;

}
